extends ../templates/default
include ../templates/dependencies
link(rel='stylesheet', href='/stylesheets/tab.css')
block content
    
  div.ingreso(style='margin-top:50px')
      div.panel.text-all
        div.box-body(style='min-height: 700px; ')
          div.jumbotron(style='background: white')
            div.container
                div.row
                    div.col-md-3
                        div.well.well-sm
                            form.form-horizontal(action='/tablas/tesis', method='post')
                                a.text-center Vista
                                div
                                    select.form-control(name='Busqueda',onChange="this.form.submit()")
                                        option='Elige una opción'
                                        option='Departamento'  
                                        option='Especialidad'
                                        option='Grado'
                                        option='Genero'
                                        option='Departamento y Grados'
                                        option='Especialidad y Departamentos'
                                         
                -if(!items)
                            div.alert.alert-info
                                strong(style='text-align:center;')  Atención!    :
                                    a Selecciona una Vista....
                h1.text-all(style='text-align:center;') #{title}                  
                div(class='table-responsive' )    
                    table#local.table.table-striped.table.table.table-bordered 
                        thead(bgcolor="#34495E")
                            tr
                               - if(items)  
                                    -each item in items
                                        th.text-center= item.Field
                        tbody(bgcolor="#8D9EAF")
                            -if(items1)
                                -for item1 in items1
                                    tr
                                        -for val,key in item1
                                            td.text-center #{val}
                                       
                                       
                                        
                                                           
                                   
                                            
                           
                                
                                
                                
                                        
                        
                                            