extends ../templates/default
include ../templates/dependencies

block content
  script(type='text/javascript', src='/javascripts/excel.js') 
  div.ingreso(style='margin-top:50px')
      div.panel
        div.box-body(style='min-height: 700px; ')
          div.jumbotron(style='background: white')
            div.container
                div.row
                    div.col-md-3
                        div.well.well-sm
                            form.form-horizontal(action='/exportar/tesis', method='post')
                                a.text-center.text-all Vista
                                div
                                    select.form-control(name='Busquedat',onChange="this.form.submit()")
                                                option(value='' disabled selected)='Elige una opción'
                                                option(value='v_departamentot')='Departamento'  
                                                //- option(value='v_especialidadt')='Especialidad'
                                                option(value='v_gradot')='Grado'
                                                option(value='v_generot')='Genero'
                                                option(value='v_deptogradot')='Departamento y Grados'
                                                //- option(value='v_especialidaddeptot')='Especialidad y Departamentos'
                                         
                                   
                -if(items.length < 1)
                    div.alert.alert-info
                        strong.text-all(style='text-align:center;')  Atención!    :
                            a.text-all Selecciona una Vista....
                - if(items.length > 0)                             
                            h1.text-title.text-all(style='text-align:center;') Exportar #{title}                   
                            div.text-all(class='table-responsive' ) 
                                table#example.display(cellspacing='0', width='100%')
                                    thead
                                        tr
                                            -each item in items
                                                th.may.text-center(style="text-align: center")= item.column_name
                                    tbody
                                        -for item1 in items1
                                            tr
                                                -for val,key in item1
                                                    td.text-center #{val}
                                       
                                       
                                        
                                                           
                                   
                                            
                           
                                
                                
                                
                                        
                        
                                            