extends ../templates/default


block content
  
  
  div.ingreso.text-all(style='margin-top:50px' ng-app='registro' ng-cloak)
    div.box-body(style='min-height: 10px; ')
      div.jumbotron(style='background: white')
        div.row(style='margin-left: auto; margin-right: auto;')
          div.panel(ng-controller='data',ng-init='consulta()')
            
            form(name="form" autocomplete="off")
              //- inserta datos de alumno
              div.container(class='col-md-8')
                div.panel.panel-default
                  div.panel-heading Datos Alumno
                  div.panel-body 
                    div.col-xs-10
                      div.col-xs-9
                        label(for="matricula")= 'Matrícula'
                        input.form-control(type='number'  name='matricula' ng-value="user.matricula" id='matricula' placeholder='Matrícula' ng-model="user.matricula" ng-max="9999999999" ng-required="true"  ng-keyup="validacion()" ng-click="validacion()")
                        div.col-xs-12(ng-show='form.matricula.$touched')
                          span.error(ng-show='form.matricula.$error.required || form.matricula.$error.number || form.matricula.$error.max') {{error}}
                    div.col-xs-12
                      div.col-xs-3(id="input1" class="clonedInput")
                        label(for="nombre")= 'Nombre'
                        input(type='text' name="name" id="name" placeholder='nombre' ng-value="user.nombre" class='form-control' ng-model="user.nombre" ng-keyup="validacion()"  ng-pattern="/^[a-zA-Z. ]*[a-zA-Z]{1,60}$/" maxlength="50" ng-click="validacion()" ng-required="true") 
                        
                        span.error(ng-show='form.name.$error.pattern || form.name.$error.required ') {{errorname}}
                      div.col-xs-3(id="input2" class="clonedInput" style='display:none;')
                        label(for="nombre2")= 'Nombre 2'
                        input(type='text'  name="name2" id="name2" placeholder='nombre2' ng-value="user.nombre2" class='form-control' ng-pattern="/^[a-zA-Z. ]*[a-zA-Z]{1,60}$/" maxlength="50" ng-model="user.nombre2" ng-keyup="validacion()")
                        //- div.col-xs-12(ng-show='form.$submitted || form.name2.$touched')
                        span.error(ng-show='form.name2.$error.pattern') {{errorname2}}
                      div.col-xs-3(id="input3" class="clonedInput" style='display:none;')
                        label(for="nombre3")= 'Nombre 3'
                        //- |Nombre3:
                        input(type='text' name="name3" id="name3" placeholder='nombre3' ng-value="user.nombre3" class='form-control' ng-pattern="/^[a-zA-Z. ]*[a-zA-Z]{1,60}$/" maxlength="50" ng-model="user.nombre3" ng-keyup="validacion()")                    
                        span.error(ng-show='form.name3.$error.pattern') {{errorname3}}
                      div.col-xs-3
                        br
                        div.col-xs-12
                          div.col-xs-6
                            button#btnAdd(type='button', class="btn btn-primary")
                              span.glyphicon.glyphicon-plus  
                          div.col-xs-6
                            button#btnDel(type='button', class="btn btn-danger")
                              span.glyphicon.glyphicon-minus
                    
                    div.col-xs-12
                      div.col-xs-3(id="inputA1" class="clonedInputA")
                        label(for="nombre")= 'Apellido'
                        //- |Apellido:
                        input(type='text' name="apellido" id="apellido" placeholder='apellido' class='form-control' ng-value="user.apellido" ng-model="user.apellido" ng-pattern="/^[a-zA-Z. ]*[a-zA-Z]{1,60}$/" maxlength="50" required='' ng-keyup="validacion()")
                        div.col-xs-12(ng-show='form.$submitted || form.apellido.$touched')
                          span.error(ng-show='form.apellido.$error.pattern || form.apellido.$error.required ') {{errorap}}
                      div.col-xs-3(id="inputA2" class="clonedInputA" style='display:none;')
                        label(for="nombre")= 'Apellido 1'
                        //- |Apellido2:
                        input(type='text' name="apellido2" id="apellido2" placeholder='apellido2' class='form-control' ng-value="user.apellido2" ng-pattern="/^[a-zA-Z. ]*[a-zA-Z]{1,60}$/" maxlength="50" ng-model="user.apellido2" ng-keyup="validacion()")
                        span.error(ng-show='form.apellido2.$error.pattern') {{errorap2}}
                      div.col-xs-3(id="inputA3" class="clonedInputA" style='display:none;')
                        label(for="nombre")= 'Apellido 2'
                        //- |Apellido3:
                        input(type='text' name="apellido3" id="apellido3" placeholder='apellido3' class='form-control' ng-value="user.apellido3" ng-pattern="/^[a-zA-Z. ]*[a-zA-Z]{1,60}$/" maxlength="50" ng-model="user.apellido3" ng-keyup="validacion()")
                        span.error(ng-show='form.apellido3.$error.pattern') {{errorap3}}
                      div.col-xs-3
                        br
                        div.col-xs-12
                          div.col-xs-6
                            button#btnAdd1(type='button', class="btn btn-primary")
                              span.glyphicon.glyphicon-plus  
                          div.col-xs-6
                            button#btnDel1(type='button', class="btn btn-danger")
                              span.glyphicon.glyphicon-minus
                    
                    
              //-visualización de alumno 
              div.container(class='col-md-4')
                div.panel.panel-default
                  div.panel-heading Vista Alumno
                  div.panel-body(class="table-responsive")
                      a Matrícula:
                      p(ng-bind="user.matricula")
                      a Nombre Completo:
                      p(ng-bind="user.nombre+' '+user.nombre2+' '+user.nombre3+' '+user.apellido+' '+user.apellido2+' '+user.apellido3 ")
                      
              //- inserta tesis
              div.container(class='col-md-8')
                div.panel.panel-default
                  div.panel-heading Datos Tesis
                  div.panel-body 
                    div.col-xs-12
                      label(for="tt")= 'Título de tesis'
                      input(type='text' name='tituloT' placeholder='Título de tesis' class='form-control' ng-model="user.tituloT" required='')
                      div(ng-show='form.$submitted || form.tituloT.$touched')
                        span.error(ng-show='form.tituloT.$error.required') Introducir el Título de Tesis.
                    div.col-xs-5
                      label(for="mes")= 'Mes'
                      select.form-control(name='mes'  ng-model="user.mes" required='')
                        option(value='' disabled) Selecciona Mes
                        option(ng-repeat="x in meses" value="{{x.numero}}"){{x.nombre}}
                      div(ng-show='form.$submitted || form.mes.$touched')
                          span.error(ng-show='form.mes.$error.required') Introducir el Mes.
                    div.col-xs-5
                      label(for="ano")= 'Año'
                      input#anio(type="number"  name="anio" min="1960" max="{{n}}"  class='form-control' ng-value='user.ano' ng-model="user.ano" required='' ng-keyup="validacion()")
                      div(ng-show='form.$submitted || form.anio.$touched')
                        span.error(ng-show='form.anio.$error.required || form.anio.$error.number ||  form.anio.$error.min || form.anio.$error.max ') Introducir el año de la Tesis.
                        //- span.error(ng-show='form.anio.$error.number') ¡El valor no es un Numero!
                        //- span.error(ng-show='form.anio.$error.min || form.anio.$error.max') ¡El valor debe estar en el rango de 1960 al año {{n}}!
                                  
              //-visualización de tesis
              div.container(class='col-md-4')
                div.panel.panel-default
                  div.panel-heading Vista Tesis
                  div.panel-body(class="table-responsive" )
                    a Título de Tesis:
                    p(ng-bind="user.tituloT")
                    a Mes:
                    p{{meses[user.mes-1].nombre}}
                    a Año:
                    p(ng-bind="user.ano")

              //- inserta actas
              div.container(class='col-md-8')
                div.panel.panel-default
                  div.panel-heading Datos Acta
                  div.panel-body
                    div.col-xs-12 
                      div.col-xs-6
                        label(for="folio")= 'Folio'
                        input(type='number' name='folio' id='folio' placeholder='Folio' class='form-control' ng-value='user.folio' ng-model="user.folio" ng-max="9999999999" required='' ng-click="validacion()" ng-keyup="validacion()")
                        //- div(ng-show='form.$submitted || form.folio.$touched')
                        span.error(ng-show='form.folio.$error.required || form.folio.$error.number') {{errorfolio}}
                          //- span.error(ng-show='form.folio.$error.number') ¡El valor no es un Numero!
                      div.col-xs-6
                        label(for="lugar")= 'Lugar'
                        select.form-control(name='lugar'  ng-model="user.lugar" required='')
                          option(value='' disabled) Selecciona Lugar
                          option(ng-repeat="x in items2" value="{{x.idunidad}}"){{x.nombre}}
                        //- select.form-control(name='lugar'  ng-model="user.lugar" required='')
                        //-   option(value='' disabled) Selecciona Lugar
                        //-   -for item2 in items2
                        //-     option(value=item2.idunidad) #{item2.idunidad}-#{item2.nombre}
                        div(ng-show='form.$submitted || form.lugar.$touched')
                          span.error(ng-show='form.lugar.$error.required') Introducir el Lugar.
                    div.col-xs-12
                      div.col-xs-6
                        label(for="grado")= 'Grado'
                        select.form-control(name='grado'  ng-model="user.grado" required='')
                          option(value='' disabled) Selecciona Grado
                          option(ng-repeat="x in items" ng-if='x.idgrado== 1 || x.idgrado==2' value="{{x.idgrado}}"){{x.grado}}
                        //-   option(value='' disabled) Selecciona Grado
                        //-   -for item in items
                        //-     option(value=item.idgrado) #{item.idgrado}-#{item.grado}
                        div(ng-show='form.$submitted || form.grado.$touched')
                          span.error(ng-show='form.grado.$error.required') Introducir el Grado.
                                
              //-visualización de actas
              div.container(class='col-md-4')
                div.panel.panel-default
                  div.panel-heading Vista Acta
                  div.panel-body 
                    a Folio:
                    p(ng-bind="user.folio")
                    a Lugar:
                    p
                    p(ng-repeat="x in items2" ng-if='x.idunidad == user.lugar'){{x.nombre}}
                    a Grado:
                    p(ng-repeat="x in items" ng-if='x.idgrado == user.grado'){{x.grado}}
              
              //-insertar Director y Codirectores
              div.container(class='col-md-12')
                div.panel.panel-default
                    div.panel-body
                      //- inserta director
                      div.container(class='col-md-4')
                        div.panel.panel-default
                          div.panel-heading Director
                          div.panel-body 
                            div.col-xs6
                              label(for="grado")= 'Director'
                              select.form-control(name='director', ng-model='user.director', ng-options='x as x.nombre  for x in items3'  required='')
                                 option(value='' disabled) Selecciona Director
                              //- select.form-control(name='director'  ng-model="user.director" required='')
                              //-   option(value='' disabled) Selecciona Director
                              //-   option(ng-repeat="x in items3" value="{{x.idpersona}}"){{x.nombre}} {{x.nombre2}} {{x.nombre3}} {{x.apellido}} {{x.apellido2}} {{x.apellido3}}
                              //-   option(value='' disabled) Selecciona Director
                              //-   -for item3 in items3
                              //-     option(value=item3.idpersona) #{item3.nombre} #{item3.nombre2} #{item3.nombre3} #{item3.apellido} #{item3.apellido2} #{item3.apellido3}
                              
                              div(ng-show='form.$submitted || form.director.$touched')
                                span.error(ng-show='form.director.$error.required') Introducir al Director.
                      
                      //-inserta codirectores
                      div.container(class='col-md-4')
                        div.panel.panel-default
                          div.panel-heading Co Directores
                          div.panel-body
                            label(for="grado")= 'Co Directores'
                            select.form-control.text-all(name='codirector'  ng-model="user.codirector"  ng-options='x as x.nombre disable when x == user.director  for x in items3' ng-disabled="!user.director")
                                option(value='' disabled) Selecciona Codirector
                            br
                            select.form-control.text-all(name='codirector1'  ng-model="user.codirector1"  ng-options='x as x.nombre disable when x == user.director || x == user.codirector for x in items3' ng-disabled="!user.director || !user.codirector")
                                option(value='' disabled) Selecciona Codirector1
                            br
                            select.form-control.text-all(name='codirector2'  ng-model="user.codirector2"  ng-options='x as x.nombre disable when x == user.director || x == user.codirector || x == user.codirector1 for x in items3' ng-disabled="!user.director || !user.codirector || !user.codirector1")
                                option(value='' disabled) Selecciona Codirector2
                            br
                            select.form-control.text-all(name='codirector3'  ng-model="user.codirector3"  ng-options='x as x.nombre  disable when x == user.director || x == user.codirector || x == user.codirector1 || x == user.codirector2 for x in items3' ng-disabled="!user.director || !user.codirector || !user.codirector1 || !user.codirector2")
                                option(value='' disabled) Selecciona Codirector3
                                   
                      //-vista de directores y codirectores
                      div.container(class='col-md-4')
                        div.panel.panel-default
                          div.panel-heading Vista Director y Co Directores
                          div.panel-body 
                            a Director:
                            p(ng-bind="user.director.nombre")
                            //- br
                            //- p(ng-repeat="x in items3" ng-if='x.idpersona == user.director'){{x.nombre}} {{x.nombre2}} {{x.nombre3}} {{x.apellido}} {{x.apellido2}} {{x.apellido3}}
                            a Co Directores
                            p(ng-bind="user.codirector.nombre")
                            p(ng-bind="user.codirector1.nombre")
                            p(ng-bind="user.codirector2.nombre") 
                            p(ng-bind="user.codirector3.nombre")  
                            
              
              //-insertar sinodales 
              div.container(class='col-md-12')
                div.panel.panel-default
                    div.panel-body
                      //- inserta sinodal
                      div.container(class='col-md-5')
                        div.panel.panel-default
                          div.panel-heading Sinodal
                          div.panel-body 
                            label(for="grado")= 'Sinodales'
                            select.form-control.text-all(name='sinodal'  ng-model="user.sinodal" ng-options='x as x.nombre  for x in items3')
                              option(value='' disabled) Selecciona Sinodal
                              //- option(ng-repeat="x in items3" value="{{x.idpersona}}"){{x.nombre}} {{x.nombre2}} {{x.nombre3}} {{x.apellido}} {{x.apellido2}} {{x.apellido3}}
                                    
                            br
                            select.form-control.text-all(name='sinodal2'  ng-model="user.sinodal2" ng-options='x as x.nombre  disable when x == user.sinodal for x in items3'  ng-disabled="!user.sinodal")
                              option(value='' disabled) Selecciona Sinodal2
                              //- option(ng-repeat="x in items3" value="{{x.idpersona}}"){{x.nombre}} {{x.nombre2}} {{x.nombre3}} {{x.apellido}} {{x.apellido2}} {{x.apellido3}}
                            br
                            select.form-control.text-all(name='sinodal3'  ng-model="user.sinodal3" ng-options='x as x.nombre disable when x == user.sinodal || x == user.sinodal2 for x in items3' ng-disabled="!user.sinodal || !user.sinodal2")
                              option(value='' disabled) Selecciona Sinodal3
                              //- option(ng-repeat="x in items3" value="{{x.idpersona}}"){{x.nombre}} {{x.nombre2}} {{x.nombre3}} {{x.apellido}} {{x.apellido2}} {{x.apellido3}}
                            br
                            select.form-control.text-all(name='sinodal4'  ng-model="user.sinodal4" ng-options='x as x.nombre disable when x == user.sinodal || x == user.sinodal2 || x == user.sinodal3 for x in items3'  ng-disabled="!user.sinodal || !user.sinodal2 || !user.sinodal3")
                              option(value='' disabled) Selecciona Sinodal4
                              //- option(ng-repeat="x in items3" value="{{x.idpersona}}"){{x.nombre}} {{x.nombre2}} {{x.nombre3}} {{x.apellido}} {{x.apellido2}} {{x.apellido3}}
                            br
                            select.form-control.text-all(name='sinodal5'  ng-model="user.sinodal5" ng-options='x as x.nombre disable when x == user.sinodal || x == user.sinodal2 || x == user.sinodal3 || x == user.sinodal4 for x in items3'  ng-disabled="!user.sinodal || !user.sinodal2 || !user.sinodal3 || !user.sinodal4")
                              option(value='' disabled) Selecciona Sinodal5
                              //- option(ng-repeat="x in items3" value="{{x.idpersona}}"){{x.nombre}} {{x.nombre2}} {{x.nombre3}} {{x.apellido}} {{x.apellido2}} {{x.apellido3}}
                      //-vista de directores y codirectores
                      div.container(class='col-md-5')
                        div.panel.panel-default
                          div.panel-heading Vista Sinodal
                          div.panel-body 
                            a Sinodales:
                            p(ng-bind="user.sinodal.nombre")
                            p(ng-bind="user.sinodal2.nombre")
                            p(ng-bind="user.sinodal3.nombre")
                            p(ng-bind="user.sinodal4.nombre")
                            p(ng-bind="user.sinodal5.nombre")
             
              //-inserta sinodales invitados
              div.container(class='col-md-8')
                div.panel.panel-default
                  div.panel-heading Sinodal Invitado
                  div.panel-body 
                    form(name="form1" autocomplete="off")
                      div.col-xs-12
                        div.col-xs-3(id="sinodal1" class="clonedInput")
                          label(for="nombre")= 'Nombre'
                          //-|Nombre:
                          input(type='text' name="sinodal" id="sinodal" placeholder='sinodal' class='form-control' , ng-model='addName', ng-change='addTemp()' )
                        div.col-xs-3(id="sinodal2" class="clonedInput" style='display:none;')
                          label(for="nombre")= 'Nombre1'
                          input(type='text' name="sinodal2" id="sinodal2" placeholder='sinodal2' class='form-control' , ng-model='addName1', ng-change='addTemp()')
                        div.col-xs-3(id="sinodal3" class="clonedInput" style='display:none;')
                          label(for="nombre")= 'Nombre2'
                          //- |Nombre3:
                          input(type='text' name="sinodal3" id="sinodal3" placeholder='sinodal3' class='form-control' , ng-model='addName2', ng-change='addTemp()')                    
                        div.col-xs-3
                          br
                          center
                            button#btnAddsinodal(type='button', class="btn btn-primary")
                              span.glyphicon.glyphicon-plus
                            &nbsp;&nbsp;&nbsp;&nbsp;
                            button#btnDelsinodal(type='button', class="btn btn-danger")
                              span.glyphicon.glyphicon-minus
                      div.col-xs-12
                        div.col-xs-3(id="sinodalap1" class="clonedInputA")
                          label(for="nombre")= 'Apellido'
                          //- |Apellido:
                          input(type='text' name="apellidos" id="apellidos" placeholder='apellido' class='form-control', ng-model='addApsinodal', ng-change='addTemp()' )
                        div.col-xs-3(id="sinodalap2" class="clonedInputA" style='display:none;')
                          label(for="nombre")= 'Apellido2'
                          //- |Apellido2:
                          input(type='text' name="apellidos2" id="apellidosi2" placeholder='apellido2' class='form-control' , ng-model='addApsinodal1', ng-change='addTemp()' )
                        div.col-xs-3(id="sinodalap3" class="clonedInputA" style='display:none;')
                          label(for="nombre")= 'Apellido3'
                          //- |Apellido3:
                          input(type='text' name="apellidos3" id="apellidos3" placeholder='apellido3' class='form-control' , ng-model='addApsinodal2', ng-change='addTemp()')
                        div.col-xs-3
                          br
                          center
                            button#btnAddsinodalap(type='button', class="btn btn-primary")
                              span.glyphicon.glyphicon-plus
                            &nbsp;&nbsp;&nbsp;&nbsp;
                            button#btnDelsinodalap(type='button', class="btn btn-danger")
                              span.glyphicon.glyphicon-minus
                        div.col-xs-10
                            label(for="institucion")= 'Institución'
                            input(type='text' name='institucion' id='institucion'  class='form-control' , ng-model='institucionsino', ng-change='addTemp()')
                        div.col-xs-10
                            label(for="cargo")= 'Cargo'
                            input(type='text' name='cargo' id='cargo'  class='form-control', ng-model='cargosino', ng-change='addTemp()')
                        //- div.col-xs-10
                        //-     label(for="grado")= 'Grado'
                        //-     input(type='text' name='grado' id='grado' class='form-control' , ng-model='gradosino', ng-change='addTemp()')
                        div.col-xs-12
                          br
                          input.btn.btn-primary.pull-right(type='submit',form="form1" ng-click='addRow()', ng-show='addName && addApsinodal', value='+ Agregar')
                    
              //-visualización de alumno 
              div.container(class='col-md-4')
                div.panel.panel-default
                  div.panel-heading Vista Sinodal Invitado
                    //- h5(ng-bind="rows.length+' '+ Sinodales+' '+plural(rows)")
                    h5 {{rows.length}} Sinodales {{plural(rows)}} 
                  div.panel-body 
                    div.container(class="table-responsive" )
                      div(ng-repeat='row in rows ', ng-class="{'muted':isTemp($index)}") 
                        font(size=2)
                          h4 Sinodal N° {{$index+1}}
                          div.col-xs-10
                            a Nombre Completo:
                            h5 {{row.addName}} {{row.addName1}} {{row.addName2}} {{row.addApsinodal}} {{row.addApsinodal1}} {{row.addApsinodal2}}
                            a Institución:
                            h5 {{row.institucionsino}}
                            a Cargo:
                            h5 {{row.cargosino}}
                          div.col-xs-2
                            button.btn.btn-danger.btn-mini(ng-click='deleteRow(row)', ng-hide='isTemp($index)')
                              i.glyphicon.glyphicon-trash
              div.container(class='col-md-12')
                div.container
                  //-  #JSON
                  //- button(type='submit', ng-click='update(user)') Guardar
                  button.pull-right(type='submit', class="btn btn-primary", ng-click='insertar(user)' ng-disabled="form.$invalid") Insertar Datos  
              
  script(type='text/javascript', src='/javascripts/infoInputs.js' )           
  script(type='text/javascript', src='/javascripts/inputs.js')         
  script(type='text/javascript', src='/vendor/bootstrap-sweetalert/dist/sweetalert.min.js')        
                    
            